@charset "UTF-8";

.avatar {
    margin: 10px auto;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
}

.avatar a {
    display: block;
    width: 160px;

}

.avatar a img {

}

.avatar a span {
    display: block;
    margin-top: 0px;
    padding-top: 8px;
    width: 160px;
    height: 55px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: margin-top .2s ease-in-out;
    -moz-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
}

.avatar a:hover span {
    display: block;
    margin-top: -63px;
}

.topspaceinfo {
    background: #e41635;
    padding: 40px 20px;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.topspaceinfo h1 {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
}

.about_c {
    margin: 20px 10px 0px 30px;
    color: #bbbbbb;
    line-height: 26px;
}

.about_c li {
    float: left;
    width: 110px;
    margin-bottom: 12px;
    list-style: none;
}


/* .about_c p:first-child,
.about_c p:nth-child(2),
.about_c p:nth-child(3),
.about_c p:nth-child(4),
.about_c p:last-child {
    background: url(../images/about_c.png) no-repeat;
} */

.about_c p:first-child {
    background-position: 15px 6px;
}

.about_c p:nth-child(2) {
    background-position: 15px -20px
}

.about_c p:nth-child(3) {
    background-position: 15px -48px
}

.about_c p:nth-child(4) {
    background-position: 15px -70px
}

.about_c p:last-child {
    background-position: 15px -97px
}

.about_c p {
    display: block;
    padding-left: 40px;
}

.about_c p:hover {
    background: #222
}

.bdsharebuttonbox {
    margin: 20px;
    clear: both;
}

.tj_news h2,
.links h2 {
    font-size: 16px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #FFF;
}

.tj_news h2 p,
.links h2 p {
    height: 40px;
    line-height: 40px;
    width: 100px;
    padding: 0 0 0 30px;
    border-radius: 0 20px 20px 0;
    text-shadow: rgba(0, 0, 0, .65) 1px 1px;
}

.tj_news #panel_Search #btnSubmit {
    border: 0;
    background: url("../../images/skin-search.png") no-repeat center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 64px;
    right: 50px;
    text-indent: -100px;
    cursor: pointer;
}

.tj_news #panel_Search {
    position: relative;
}

.tj_news .panel_body .blogsearch {
    width: 160px;
    border: 1px solid #ccc;
    padding: 4px 30px 4px 7px;
}
.tj_t0 {
    background: #006699
}

.tj_t1 {
    background: #009999
}

.tj_t2 {
    background: #009966
}

.tj_t3 {
    background: #006600
}

.tj_t4 {
    background: #66CC00
}

.tj_news ul {
    margin: 20px 0 20px 20px
}

.tj_news ul li a:hover,
.links ul li a:hover {
    text-decoration: underline;
    color: #FFF
}

.tj_news ul li {
    height: 25px;
    line-height: 25px;
    clear: both;
    padding-left: 5px;
    overflow: hidden;
    padding-left: 15px;
    background: url(../../images/li.jpg) no-repeat left center;
}

.tj_news ul li a,
.links ul li a {
    color: #bbbbbb;
}

.tj_news span,
.links span {
    color: #ffffff;
}

.tj_news .list_closed{
    display: inline-block;
    color: #CCC;
    padding-right: 20px;
    margin-top: 17px;
    background: url("../../images/icon-arrow.png") no-repeat right bottom;
    cursor: pointer;
}

.tj_news .list_opended {
    display: inline-block;
    color: #CCC;
    padding-right: 20px;
    margin-top: 7px;
    background: url("../../images/icon-arrow.png") no-repeat right top;
    cursor: pointer;
}
/* 友情链接 */

.links h2 p {
    background: #222
}

.links ul {
    margin: 20px 0
}

.links ul li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: #333 1px dashed;
    margin: 0 40px;
}
