<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jblog.dao.BloggerDao">

	<resultMap type="Blogger" id="BloggerResult">
		<id property="id" column="id"/>
		<result property="userName" column="userName"/>
		<result property="password" column="password"/>
		<result property="profile" column="profile"/>
		<result property="nickName" column="nickName"/>
		<result property="sign" column="sign"/>
		<result property="imageName" column="imageName"/>
	</resultMap>
	
	<select id="getByUserName" parameterType="String" resultMap="BloggerResult">
		SELECT * FROM t_blogger WHERE username=#{username}
	</select>

	<select id="getBloggerMsg" resultMap="BloggerResult">
		SELECT * FROM t_blogger WHERE id=1
	</select>

	<select id="getBlogger" resultMap="BloggerResult">
		SELECT * FROM t_blogger WHERE id=1
	</select>
	
	<update id="updateBlogger" parameterType="Blogger">
		update t_blogger
		<set>
			<if test="nickName!=null and nickName!=''">
		 		nickName=#{nickName},
		 	</if>
			<if test="password!=null and password!=''">
		 		password=#{password},
		 	</if>
			<if test="sign!=null and sign!=''">
		 		sign=#{sign},
		 	</if>
			<if test="profile!=null and profile!=''">
		 		profile=#{profile},
		 	</if>
			<if test="imageName!=null and imageName!=''">
		 		imageName=#{imageName},
		 	</if>
		</set>
		where id=1
	</update>
	
	
</mapper> 